// @import url(http://fonts.googleapis.com/css?family=Quicksand:400,700|Shadows+Into+Light+Two);
// @import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);
// @import url(http://fonts.googleapis.com/css?family=Raleway);
// @import url(http://fonts.googleapis.com/css?family=Old+Standard+TT);
// @import url(http://fonts.googleapis.com/css?family=Playfair+Display);
@import url(http://fonts.googleapis.com/css?family=Lato);
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
// @import url(http://fonts.googleapis.com/css?family=Domine);

$light-gray: #eee;
$medium-gray: #dadada;
$mediumer-gray: #6d6e70;
$dark-gray: #333;
$darker-gray: #1a1a1a;

$pw-blue: #25aae1;


// General styling


body {
	// font-family: "Quicksand";
	// font-family: 'Bitter';
	font-family: 'Lato';
	// font-family: 'Libre Baskerville';
	font-weight: 300;
	// font-family: 'Georgia';
}

h1, h2, h3, h4, h5, h6 {
	// font-family: 'Libre Baskerville';
	font-family: 'Annie Use Your Telescope', cursive;
	color: $dark-gray;
	font-weight: 300;
	// text-transform: uppercase;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

// Shortcut for consistent & responsive spacing of sections
.unit-spacing {
	padding-top: 60px;
	padding-bottom: 60px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

// Shortcut for consistent & responsive spacing
.margin-five {
	margin-left: 5%;
	margin-right: 5%;
}

.mid-line {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


#main {
	max-width: 1200px;
	// margin-left: 5%;
	// margin-right: 5%;
	margin-left: auto;
	margin-right: auto;
	// margin-bottom: 100px;

}

.image-border {
	border: solid 8px $light-gray;
	// border-top: solid 8px $light-gray;
	// border-right: solid 8px $darker-gray;
}

// End general styling


// Sidebar styling

#site-header {
	// margin-bottom: 3em;
	
	h1, h2, h3, h4 {
		// color: white;
	}
}

#logo {
	width: 75%; 
	margin-bottom: .75em;
}

#island-sub-header {
	margin-top: .5em;
	margin-bottom: 2em;
}

#sidebar {
	max-width: 350px;
	position: fixed; top: 0px; bottom: 0px;
	width: inherit;
	text-align: center;
	padding-top: 2em;
	// background-color: $darker-gray;
	// color: white;
	// background-color: $light-gray;
	
	nav {
		li {
			a {
				color: $mediumer-gray;
				// font-family: 'Raleway';
				text-transform: uppercase;
				font-weight: 300;
				font-size: 1.15em;
				text-decoration: none;
				margin-bottom: .75em;
			}
		}
	}

}

// End sidebar styling

// Home page styling

#main-content {
	background-color: $light-gray;
	// padding-bottom: 2em;
}

.block-text {
	font-size: 1.25em;
	// margin-top: -1em;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1em;
	padding-bottom: 2em;
}

#home-title {
	padding-top: .5em;
}

.background-block {
	background-color: $light-gray; 
	padding: .5em;
}


#facebook, #facebook-footer {
	margin-top: 1em;
	width: 50px;

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);

	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;

}

#facebook:hover, #facebook-footer:hover {

	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);

	// opacity:.75;
	// filter: alpha(opacity=75); 
	// -ms-filter:"progid:DXImageTransform.Micr… /*IE8*/"

}




// Gallery styling

.gallery {
	margin: auto;
}
.gallery-item {
	float: left;
	text-align: center;
 //   margin-left: 3px;
	// margin-right: 3px;
	width: 20%;
	margin: 0;
}

.gallery-icon {
	margin-bottom: 0;
	padding-bottom: 0;
}

.attachment-thumbnail {
	// border-left: 3px solid $light-gray;
	// border-right: 3px solid $light-gray;
	width: 96%;
	height: auto;
}

.attachment-thumbnail:hover {
	box-shadow: 0 0 10px 1px $pw-blue;
}

.gallery-caption {
	margin-left: 0;
}

// End gallery styling

// Footer styling

footer {
	background-color: $light-gray;
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	color: gray;
	font-size: .9em;

	p {
		margin-bottom: .5em;
	}

	a {
		text-decoration: none;
		color: gray;
	}

	a:hover {
		text-decoration: underline;
	}
}

#facebook-link-footer {
	display: none;
}

#facebook-footer {
	margin-top: 1.5em;
}

// End footer styling


// Royal Slider

#full-width-slider {
	margin-bottom: 1em;
	width: 100%;
	color: #000;
}
.coloredBlock {
	padding: 12px;
	background: rgba(255,0,0,0.6);
	color: #FFF;
	width: 200px;
	left: 20%;
	top: 5%;
}
.infoBlock {
	position: absolute;
	top: 30px;
	right: 30px;
	left: auto;
	max-width: 25%;
	padding-bottom: 0;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	padding: 20px;
}
.infoBlockLeftBlack {
	color: #FFF;
	background: #000;
	background: rgba(0,0,0,0.75);
	left: 30px;
	right: auto;
}
.infoBlock h4 {
	font-size: 20px;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 3px;
}
.infoBlock p {
	font-size: 14px;
	margin: 4px 0 0;
}
.infoBlock a {
	color: #FFF;
	text-decoration: underline;
}
.photosBy {
	position: absolute;
	line-height: 24px;
	font-size: 12px;
	background: #FFF;
	color: #000;
	padding: 0px 10px;
	position: absolute;
	left: 12px;
	bottom: 12px;
	top: auto;
	border-radius: 2px;
	z-index: 25; 
} 
.photosBy a {
	color: #000;
}
.fullWidth {
	max-width: 1400px;
	margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
	.heroSlider .rsOverflow,
	.royalSlider.heroSlider {
		height: 520px !important;
	}
}

@media screen and (min-width:960px) and (min-height:1000px) {
	.heroSlider .rsOverflow,
	.royalSlider.heroSlider {
		height: 660px !important;
	}
}
@media screen and (min-width: 0px) and (max-width: 800px) {
	.royalSlider.heroSlider,
	.royalSlider.heroSlider .rsOverflow {
		height: 300px !important;
	}
	.infoBlock {
		padding: 10px;
		height: auto;
		max-height: 100%;
		min-width: 40%;
		left: 5px;
		top: 5px;
		right: auto;
		font-size: 12px;
	}
	.infoBlock h3 {
		font-size: 14px;
		line-height: 17px;
	}
}

// End royal slider








// Media queries

@media (max-width: 768px) {
	#site-header {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;


		h1 {
			font-size: 1.75em;
		}

		h4 {
			display: none;
		}
	}

	#site-header img {
		width: 200px;
		margin-bottom: 1em;
	}

	#facebook-link, #island-sub-header {
		display: none;
	}

	#sidebar {
		padding-top: .5em;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -1.5em;
		position: relative;
		text-align: center;
		// display: inline-block;

		hr {
			// width: 20%;
			display: none;
		}


		nav {
			// display: inline-block;
			vertical-align: top;
			width: 100%;

			li {
				display: inline-block;
				padding-left: 1em;
				padding-right: 1em;
				a {
				// 	color: $mediumer-gray;
				// // font-family: 'Raleway';
				// text-transform: uppercase;
				// font-weight: lighter;
				// font-size: 1.15em;
				// text-decoration: none;
				// margin-bottom: .75em;
			}
		}
	}
}

#facebook-link-footer {
	display: block;
}

}
